<div class="section relative section--full-width section--padded-default cc-animate-init cc-animate-in">
    <div class="container">    
        <div class="mt-8 description-section">
                <div class="detailed-info">  
                <h4>{{ collection.metafields.custom.desc_title }}</h4>    
                
                {% if collection.metafields.custom.desc_1_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_1_image != blank %}
                        <div class="desc-image desc-image--float-left">
                            <img src="{{ collection.metafields.custom.desc_1_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_1_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_1_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_1_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_2_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_2_image != blank %}
                        <div class="desc-image desc-image--float-right">
                            <img src="{{ collection.metafields.custom.desc_2_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_2_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_2_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_2_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_3_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_3_image != blank %}
                        <div class="desc-image desc-image--float-left">
                            <img src="{{ collection.metafields.custom.desc_3_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_3_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_3_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_3_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_4_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_4_image != blank %}
                        <div class="desc-image desc-image--float-right">
                            <img src="{{ collection.metafields.custom.desc_4_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_4_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_4_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_4_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_5_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_5_image != blank %}
                        <div class="desc-image desc-image--float-left">
                            <img src="{{ collection.metafields.custom.desc_5_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_5_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_5_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_5_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_6_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_6_image != blank %}
                        <div class="desc-image desc-image--float-right">
                            <img src="{{ collection.metafields.custom.desc_6_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_6_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_6_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_6_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_7_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_7_image != blank %}
                        <div class="desc-image desc-image--float-left">
                            <img src="{{ collection.metafields.custom.desc_7_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_7_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_7_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_7_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_8_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_8_image != blank %}
                        <div class="desc-image desc-image--float-right">
                            <img src="{{ collection.metafields.custom.desc_8_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_8_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_8_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_8_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_9_text != blank %}
                    <div class="desc-container">
                    <div class="desc-text">
                        {% if collection.metafields.custom.desc_9_image != blank %}
                        <div class="desc-image desc-image--float-left">
                            <img src="{{ collection.metafields.custom.desc_9_image | image_url }}" width="300" height="300">
                        </div>
                        {% endif %}
                        {% if collection.metafields.custom.desc_9_title != blank %}
                        <h6>{{ collection.metafields.custom.desc_9_title }}</h6>
                        {% endif %}
                        <div class="desc-content">
                        {{ collection.metafields.custom.desc_9_text | metafield_tag }}
                        </div>
                    </div>
                    </div>
                {% endif %}

                {% if collection.metafields.custom.desc_1_text == blank %}   
                    <h6>Podrobné informace</h6>     
                    <p>{{ collection.description }}</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
<style>
  .description-section {
    display: block;
  }

  .detailed-info {
    width: 100%;
  }

  .desc-container {
    margin-bottom: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .desc-container:first-child {
    padding-top: 0;
  }

  .desc-container:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .desc-image--float-left {
    float: left;
    margin: 0 2rem 0.5rem 0;
    clear: left;
  }

  .desc-image--float-right {
    float: right;
    margin: 0 0 0.5rem 2rem;
    clear: right;
  }

  .desc-content {
    clear: none;
  }

  /* Clearfix pro zabránění přetékání */
  .desc-text::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Pro mobilní zařízení */
  @media (max-width: 768px) {
    .description-section {
      flex-direction: column;
    }
    
    .detailed-info,
    .technical-parameters {
      width: 100%;
    }
  }

  .desc-content a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .desc-content a:hover {
    text-decoration: none;
  }

  @media (max-width: 600px) {
    .desc-image--float-left,
    .desc-image--float-right {
      float: none;
      margin: 0 0 1rem 0;
      width: 100%;
    }

    .desc-image--float-left img,
    .desc-image--float-right img {
      width: 100%;
      height: auto;
    }

    .desc-content {
      clear: both;
    }
  }
</style>