<div class="mt-8 description-section">
    <div class="detailed-info">
        <h4>Podrobné informace</h4>
        <p>{{ product.description }}</p>
    </div>
    <div class="technical-parameters">
        <h4>Technické parametry</h4>
        <table class="parameters-table">
            <tbody>
              {% if product.metafields.custom.nosnost.value %}
              <tr>
                <th>Nosnost:</th>
                <td>{{ product.metafields.custom.nosnost.value }}</td>
              </tr>
              {% endif %}
              {% if product.metafields.custom.konstrukcni_vyska %}
              <tr>
                <th>Konstrukční výška:</th>
                <td>{{ product.metafields.custom.konstrukcni_vyska }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.vyska_zdvihu.value %}
              <tr>
                <th>Výška zdvihu:</th>
                <td>{{ product.metafields.custom.vyska_zdvihu.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.delka_vidlic.value %}
              <tr>
                <th>Délka vidlic:</th>
                <td>{{ product.metafields.custom.delka_vidlic.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom._karka_vidlice.value %}
              <tr>
                <th>Šířka vidlice:</th>
                <td>{{ product.metafields.custom._karka_vidlice.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.roztec_vidlic_vnitrni.value %}
              <tr>
                <th>Rozteč vidlic vnitřní:</th>
                <td>{{ product.metafields.custom.roztec_vidlic_vnitrni.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.roztec_vidlic_vnejsi.value %}
              <tr>
                <th>Rozteč vidlic vnější:</th>
                <td>{{ product.metafields.custom.roztec_vidlic_vnejsi.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.celkova_delka.value %}
              <tr>
                <th>Celková délka:</th>
                <td>{{ product.metafields.custom.celkova_delka.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.celkova_sirka.value %}
              <tr>
                <th>Celková šířka:</th>
                <td>{{ product.metafields.custom.celkova_sirka.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.celkova_vyska.value %}
              <tr>
                <th>Celková výška:</th>
                <td>{{ product.metafields.custom.celkova_vyska.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.pohon.value %}
              <tr>
                <th>Pohon:</th>
                <td>{{ product.metafields.custom.pohon.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.hmotnost.value %}
              <tr>
                <th>Hmotnost:</th>
                <td>{{ product.metafields.custom.hmotnost.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.prislusenstvi.value %}
              <tr>
                <th>Příslušenství:</th>
                <td>{{ product.metafields.custom.prislusenstvi.value }}</td>
              </tr>
              {% endif %}

              {% if product.metafields.custom.vnitrni_rozmer.value %}
              <tr>
                <th>Vnitřní rozměr:</th>
                <td>{{ product.metafields.custom.vnitrni_rozmer.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.prumer_vidlicoveho_kola.value %}
              <tr>
                <th>Průměr vidlicového kola:</th>
                <td>{{ product.metafields.custom.prumer_vidlicoveho_kola.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.prumer_hnaciho_kola.value %}
              <tr>
                <th>Průměr hnacího kola:</th>
                <td>{{ product.metafields.custom.prumer_hnaciho_kola.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.minimalni_vyska_zdvihu.value %}
              <tr>
                <th>Minimální výška zdvihu:</th>
                <td>{{ product.metafields.custom.minimalni_vyska_zdvihu.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.delka_rezetu.value %}
              <tr>
                <th>Délka řetězu:</th>
                <td>{{ product.metafields.custom.delka_rezetu.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.osvetleni.value %}
              <tr>
                <th>Osvětlení:</th>
                <td>{{ product.metafields.custom.osvetleni.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.lozna_plocha.value %}
              <tr>
                <th>Ložná plocha:</th>
                <td>{{ product.metafields.custom.lozna_plocha.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.tazna_kapacita.value %}
              <tr>
                <th>Tažná kapacita:</th>
                <td>{{ product.metafields.custom.tazna_kapacita.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.vyska_madla.value %}
              <tr>
                <th>Výška madla:</th>
                <td>{{ product.metafields.custom.vyska_madla.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.rozmery_stolu.value %}
              <tr>
                <th>Rozměry stolu:</th>
                <td>{{ product.metafields.custom.rozmery_stolu.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.polomer_otaceni.value %}
              <tr>
                <th>Poloměr otáčení:</th>
                <td>{{ product.metafields.custom.polomer_otaceni.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.ovladani_zdvihu.value %}
              <tr>
                <th>Ovládání zdvihu:</th>
                <td>{{ product.metafields.custom.ovladani_zdvihu.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.vidlicova_kola.value %}
              <tr>
                <th>Vidlicová kola:</th>
                <td>{{ product.metafields.custom.vidlicova_kola.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.material_kola.value %}
              <tr>
                <th>Materiál kola:</th>
                <td>{{ product.metafields.custom.material_kola.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.krokov_zdvih.value %}
              <tr>
                <th>Krokový zdvih:</th>
                <td>{{ product.metafields.custom.krokov_zdvih.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.motor_pojezdu.value %}
              <tr>
                <th>Motor pojezdu:</th>
                <td>{{ product.metafields.custom.motor_pojezdu.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.motor_zdvihu.value %}
              <tr>
                <th>Motor zdvihu:</th>
                <td>{{ product.metafields.custom.motor_zdvihu.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.napajeni.value %}
              <tr>
                <th>Napájení:</th>
                <td>{{ product.metafields.custom.napajeni.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.kapacita_baterie.value %}
              <tr>
                <th>Kapacita baterie:</th>
                <td>{{ product.metafields.custom.kapacita_baterie.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.vylozeni_teziste.value %}
              <tr>
                <th>Vyložení těžiště:</th>
                <td>{{ product.metafields.custom.vylozeni_teziste.value }}</td>
              </tr>
              {% endif %}
              
              {% if product.metafields.custom.maximimalni_vyska_voziku.value %}
              <tr>
                <th>Maximální výška vozíku:</th>
                <td>{{ product.metafields.custom.maximimalni_vyska_voziku.value }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
    </div>
</div>

<style>
 
</style>